<tr>
    <td><%= produto.nome %></td>
    <td><%= produto.descricao %></td>
    <td><%= produto.departamento.nome if produto.departamento %></td>
    <td><%= produto.preco %></td>
    <td><%= produto.quantidade %></td>
    <td><%= button_to "Alterar", edit_produto_path(produto.id), method: :get, class:"btn btn-default" %></td>
    <td><%= button_to "Remover", produto, method: :delete, class:"btn btn-danger", data: {confirm:"Deseja remover o produto #{produto.nome}?"}  %></td>
</tr>
